@use '@/shared/global_styles/vars' as *;


.form__password{
    color: white;
    background-color: #626364;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid $grey;
    text-indent: 10px;
    font-size: 20px;
    margin-bottom: 10px;

    &::placeholder{
        color: $placeholder-text;
    }
}

.error__message {
    color: #e53935;
    font-size: 14px;
    background: #fff3f3;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #e53935;
}