body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1; /* Это позволит основному контенту занять всё доступное пространство */
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto; 
}


#upload-form input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.uploaded-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}