@use '@/shared/global_styles/vars' as *;


// .form_container_{
//     display: flex;
//     flex-direction: column;
//     background-color: $bg-color;
//     width: 350px;
//     height: 300px;
//     // justify-content: center; 
//     // align-items: center;     
//     // min-height: 100vh;      
//     // margin: 0;              
// }


// .form_precontainer_{
//     display: flex;
//   justify-content: center; /* Центр по горизонтали */
//   align-items: center;     /* Центр по вертикали */
//   min-height: 100vh;     
// }


// .form_inputfield{
//     display: flex;
//     flex-direction: column;

// }



// form.scss
.form {
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      width: 370px;
      height: 370px;
      padding: 24px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #232324;

    }
  
    &__input {
      color: white;
      background-color: #626364;
      width: 300px;
      height: 45px;
      border-radius: 10px;
      border: 1px solid $grey;
      text-indent: 10px;
      font-size: 20px;
  
      &::placeholder{
          color: $placeholder-text;
      }

      &:focus {
        outline: none;
        border-color: #1877f2;
        box-shadow: 0 0 0 2px rgba(24, 119, 242, 0.1);
      }
    }
  
    &__button {
        background-color: $light-blue;
    width: 300px;
    height: 45px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid $grey;

    &:hover {
        background-color: $light-blue-hover;
        transform: scale(1.05);
        filter: brightness(0.95);

    }
      &:active {
        filter: brightness(0.9);
      }
    }
  
    &__errors{
      color: #e53935;
      font-size: 14px;
      background: #fff3f3;
      // padding: 6px 10px;
      border-radius: 6px;
      border: 1px solid #e53935;
      width: 300px;
      text-align: center;
    }
  }
