.verification_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .verification_content{
    justify-content: center;
    align-items: center;
    &_text{
        text-align: center;
        margin-bottom: 30px;
    }
  }
  .verification_input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    &__cell {
      width: 45px;
      height: 55px;
      font-size: 24px;
      text-align: center;
      border-radius: 10px;
      border: 1px solid #ccc;
      outline: none;
      transition: border 0.2s ease;
  
      &:focus {
        border-color: #007bff;
      }
    }
  }
  